body {
  background-color: rgb(180, 133, 45);
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-field {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: calc(128px * 3 + 10px * 2);
}

.field {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  width: 128px;
}

.x-win {
  .cell:nth-child(odd) {
    background-color: rgb(211, 138, 138);
  }
}

.o-win {
  .cell:nth-child(even) {
    background-color: rgb(137, 137, 219);
  }
}

.tie {
  .cell {
    background-color: grey;
  }
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid black;

  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}